/*----------------------------------------------------------------------------------Styles für die ganze Website*/
html {
    background-color: white;
    padding: 0px;
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

/*Styles für alles im body*/
body {
    margin: 0px;
}

/*----------------------------------------------------------------------------------Styles für das Banner*/
#banner {
    position: fixed;
    text-align: center;
    top: 60px;
    right: -90px;
    width: 400px;
    line-height: 28px;
    color: white;
    background-color: rgb(36, 36, 36);
    transform:rotate(35deg);
    font-size: 24px;
}

/*----------------------------------------------------------------------------------Styles für den Header*/
header {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    padding: 20px;
    height: 400px;
    animation: animate 12s ease-in-out infinite;
    background-size: cover;
}

@keyframes animate {
    0%, 100% {
        background-image:url(task_material/personal/Background1.jpg);
    }
    33% {
        background-image:url(task_material/personal/Background2.jpg);
    }
    66% {
        background-image:url(task_material/personal/Background3.jpg);
    }
}

/*Styles für das Logo im Header*/
#logobox {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}

#logo {
    height: 30px;
    width:auto;
}

/*Navigation als Flexbox*/
.navigation {
    display:flex;
    justify-content: space-evenly;
}

/*Styles für die Buttons im Header, mit Interaktionen*/
.button {
    text-decoration: none;
    color: #bebebe;
    margin: 20px;
    height: 30px;
}

.button:hover {
    color: white;
    text-decoration: underline;
}

.button:active {
    color:white;
    text-decoration: underline;
}

/*Button der aktuellen Seite (zB "Kontakt" Button in contacts.html)*/
.button2 {
    color: white;
    text-decoration: underline;
    margin:20px;
}

/*----------------------------------------------------------------------------------Styles für den Footer*/
footer {
    background-color: #eaeaea;
    color:black;
    font-size: 16px;
    text-align: center;
    padding: 20px;
    width: 100%;
}

/*Footer wrap als Flexbox*/
.footnotes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footnotes a {
    opacity: 0.8;
}

/*Footer Icons mit Interaktionen*/
.icon {
    margin: 2.5px;
    width: 20px;
    height: auto;
    opacity: 0.6;
}

.icon:hover {
    opacity: 1;
    transition: opacity 0.1s ease-in-out 0.1s;
}

/*----------------------------------------------------------------------------------Styles für index.html*/

.content {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.content h2{
    font-family: 'Shadows Into Light';
    font-size: 48px;
    color:rgb(175, 175, 175);
    margin-top: 20px;
    margin-bottom: 2px;
}

.wrapper {
    padding:0px;
    max-width: 100%;
    width: max-content;
}

.wrapper:hover img {
    opacity: 0.6;
    transition: opacity 0.5s ease-in-out 0.1s;
}

.wrapper:hover img:hover {
    transform: scale(1.05);
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.1s;
}

.content img {
    width: auto;
    max-width: 100%;
}

.content video {
    width: auto;
    max-width: 100%;
}

/*----------------------------------------------------------------------------------Styles für account.html*/

.account {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.pic {
    border-radius: 8px;
    height: 10em;
    width: auto;
    margin: 5px;
    margin-top: 16px;
    margin-bottom: 24px;
}

/*----------------------------------------------------------------------------------Styles für contacts.html*/

.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.input1 {
    background-color: #707070;
    margin: 2px;
    width: 400px;
    height: 18px;
    border-color: #949494;
    color: #ffffff;
}

.input1::placeholder {
    color: white;
}

.input2 {
    background-color: #707070;
    margin: 2px;
    width: 400px;
    height: 250px;
    border-color: #949494;
    color: #ffffff;
}

.input2::placeholder {
    color: white;
}

#send-button {
    background-color: #707070;
    color: #ffffff;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    width: 8%;
    border-style: inset;
    border-color: #7c7c7c;
    border-radius: 5px;
    text-align: center;
}
